.footer__copywright {
  font-size: 16px;
  display: flex;
  text-align: center;
  width: 194px;
  padding: 57px 543px 24px;
}

@media screen and (max-width: 1024px) {
  .footer__copywright {
    padding: 43px 287px 24px;
  }
}

@media screen and (max-width: 544px) {
  .footer__copywright {
    width: 194px;
    font-size: 14px;
    line-height: 14px;
    padding: 32px 63px 24px;
  }
}
