.header {
  display: flex;
  justify-content: center;
  padding: 34px 0;
  opacity: 1;
}

.header__logo {
  width: 255px;
  height: 68px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 30px 0 45px;
  }
  .header__logo {
    width: 256px;
    height: 66px;
  }
}
@media screen and (max-width: 544px) {
  .header {
    padding: 20px 66px 25px;
  }
  .header__logo {
    width: 188px;
    height: 52px;
  }
}
