.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 92px;
}
.header__logo {
  display: flex;
  justify-content: center;
}
.nav__logo {
  max-width: 255px;
  width: 100%;
  opacity: 1;
}

.header__title {
  font-weight: 900;
  font-size: 96px;
  color: white;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  width: 100%;
  margin: 91px auto 32px;
  opacity: 1;
}
.header__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: white;
  max-width: 720px;
  width: 100%;
  margin: 0 auto 64px;
  opacity: 1;
}

.title__image {
  max-width: 984px;
  width: 100%;
  top: 562px;
  left: 148px;
  opacity: 1;
  margin: auto;
}
