.intro {
  color: white;
  margin: 92px 302px 0 148px;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  max-width: 830px;
  width: 100%;
  top: 1269px;
  left: 148px;
  opacity: 1;
}

.intro__quote {
  max-width: 738px;
  width: 100%;
  top: 1482.91px;
  left: 148px;
  opacity: 1;
  font-family: "inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
}

.intro__quote-author {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: right;
  max-width: 732px;
  width: 100%;
  top: 1628.56px;
  left: 148px;
  opacity: 1;
}
.intro__text {
  max-width: 722px;
  width: 100%;
  max-height: 181.54px;
}
