.intro {
  margin: auto;
  max-width: 984px;
  padding-top: 57px;
  padding-bottom: 80px;
}

.intro__container {
  max-width: 830px;
}

.intro__title {
  font-family: "Inter-black";
  font-size: 54px;
  line-height: 58px;
  margin: 0 auto 20px;
  width: 100%;
  opacity: 1;
}

.intro__quote {
  width: 88.91%;
  opacity: 1;
  font-family: "Inter-regular";
  font-size: 24px;
  line-height: 34px;
  margin: 20px 0 10px;
}

.intro__quote-author {
  font-family: "Inter-regular";
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  width: 88.19%;
  margin: 10px 0 32px;
  opacity: 1;
}
.intro__text {
  font-family: "Inter-regular";
  width: 86.98%;
  opacity: 1;
  margin: 0 0 0 0;
  max-width: 722px;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .intro {
    width: 720px;
    padding: 45px 24px 45px;
  }
  .intro__title {
    width: 680px;
    font-size: 45px;
    line-height: 49px;
    margin: 0 0 50px 0;
  }
  .intro__quote {
    width: 700px;
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 0 0;
  }
  .intro__quote-author {
    width: 685px;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    margin: 0 0 32px 0;
  }
  .intro__text {
    width: 690px;
    font-size: 16px;
    line-height: 163%;
    margin: 0 0 0 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .intro {
    padding: 32px 16px;
  }
  .intro__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 0 0;
  }
  .intro__quote {
    width: 288px;
    font-size: 24px;
    line-height: 30px;
  }
  .intro__quote-author {
    width: 288px;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
  }
  .intro__text {
    width: 288px;
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 0 0;
  }
}
