.lead {
  padding: 57px 148px 35px;
  max-width: 984px;
}
.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 73.17%;
  width: 100%;
  margin: 0 auto 34px;
  opacity: 1;
}
.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 73.17%;
  width: 100%;
  margin: 0 auto 64px;
  opacity: 1;
}

.lead__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 45px 0 45px;
  }
  .lead__title {
    max-width: 73.61%;
    font-weight: 900;
    font-size: 75px;
    margin: 0 auto 25px;
  }
  .lead__subtitle {
    max-width: 100%;
    font-size: 30px;
    margin: 0 0 30px;
  }
}
@media screen and (max-width: 544px) {
  .lead {
    padding: 25px 16px 32px;
  }
  .lead__title {
    width: 228px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin: 0 auto 16px;
  }
  .lead__subtitle {
    width: 290px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0 0 20px;
  }
}
