.lead {
  padding: 57px 148px 35px;
  max-width: 984px;
}
.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 73.17%;
  width: 100%;
  margin: 0 auto 34px;
  opacity: 1;
}
.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 73.17%;
  width: 100%;
  margin: 0 auto 64px;
  opacity: 1;
}

.lead__image {
  max-width: 100%;
  width: 100%;
  top: 562px;
  left: 148px;
  opacity: 1;
  margin: auto;
}
