.places {
  width: 938px;
  padding: 46px 145px 45px;
}
.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 460px auto;
  gap: 40px 48px;
}

.place__title {
  font-family: "Inter-black";
  max-width: 450px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 0 0 0;
}

.place__website {
  align-self: end;
  text-decoration: none;
}

.place__url-heading {
  font-family: "Inter-regular";
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #aaaaaa;
  margin: 0 0 8px 0;
}

.place__author {
  font-family: "Inter-regular";
  font-size: 18px;
  line-height: 1.22;
  color: white;
  margin: 0;
}
.place__image {
  width: 460px;
  height: 460px;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.place__image:hover {
  filter: brightness(0.5);
}

.place__paragraphs {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}
.place__paragraphs-text {
  font-family: "Inter-regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;
}
.place__button {
  font-family: "Inter-regular";
  color: white;
  width: 286px;
  height: 48px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
/* .place__button:hover {
  background-image: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  ); */
.place__button:hover {
  background-image: linear-gradient(90deg, #163455 0%, #162435 99.98%);
}
