.places {
  width: 938px;
  padding: 46px 145px 45px;
}
.place {
}

.place__title {
  font-family: "Inter-black";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__website {
  align-self: end;
  text-decoration: none;
}

.place__url-heading {
  font-family: "Inter-regular";
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #aaaaaa;
  margin: 0 0 8px 0;
}

.place__artist {
  font-family: "Inter-regular";
  font-size: 18px;
  line-height: 1.22;
  color: white;
  margin: 0;
}
.place__image {
  width: 460px;
  height: 460px;
}
.place__paragraphs {
}
.place__paragraphs-text {
  font-family: "Inter-regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;
}
.place__button {
  font-family: "Inter-regular";
  width: 286px;
  height: 48px;
  color: white;
  background-image: linear-gradient(to right, #0278fe, #003a7b);
}
