.page {
  background: #2a2c2f;
  font-family: "inter";
}
.header {
  display: flex;
  flex-direction: column;
}
.header__logo {
  display: flex;
  justify-content: center;
}

.nav__logo {
  width: 32;
  height: 32;
  opacity: 1;
}

.header__title {
  font-family: "inter";
  font-weight: 900px;
  font-size: 96px;
  color: white;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: center;
  width: 720;
  height: 200;
  top: 194px;
  left: 280px;
  opacity: 1;
}
.header__subtitle {
  font-family: "inter";
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  width: 720;
  height: 72;
  top: 426px;
  left: 280px;
  opacity: 1;
}

.title__image {
  width: 984;
  height: 615;
  top: 562px;
  left: 148px;
  opacity: 1;
  margin: auto;
}
.intro {
  color: white;
  /* display: flex;
  flex-direction: column;*/
  margin: 92px 302px 0 148px;
}

.intro__title {
  font-family: "inter";
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  width: 830px;
  height: 173.9227294921875px;
  top: 1269px;
  left: 148px;
  opacity: 1;
}

.intro__quote {
  width: 738px;
  height: 135.6575927734375px;
  top: 1482.91px;
  left: 148px;
  opacity: 1;
  font-family: "inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
}

.intro__quote-author {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: right;
  max-width: 732px;
  max-height: 33.914398193359375px;
  top: 1628.56px;
  left: 148px;
  opacity: 1;
}
.intro__text {
  max-width: 722px;
  max-height: 181.54px;
}

.footer__copywright {
  color: white;
  font-family: "inter";
  display: flex;
  justify-content: center;
  margin: 92px auto 24px;
}
